html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

h1, h2, h3, h4, h5, h6 {
	font-family: 'El Messiri', sans-serif;
	font-weight: 600;
	color: #222222;
	line-height: 1.5;
  text-align: center;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 25px;
}

h6 {
	font-size: 25px;
}

body, html {
	width: 100%;
	height: 100%;
	font-family: 'El Messiri', sans-serif;
	font-size: 20px;
	color: #222222;
}

a, a:hover {
	color: inherit;
	text-decoration: none;
}
a:focus {
	width:0px;
	height:0px;
	outline:0px;
}

ul {
	margin: 2rem 0;
	list-style: none;
	padding-left: 2rem;
}

ul li {
	padding: 0.5rem 0;
	font-weight: 200;
}

p {
	margin: 1rem 0;
	line-height: 1.8;
}

.content {
	max-width: 60rem;
	margin: 0 auto;
	width: 70%;
}

.hero {
	position: relative;
	overflow: hidden;
}

section {
    padding: 4rem 0;
}

footer {
	padding: 1rem;
	background-color: #222222;
	color: white;
	text-align: center;
}

footer p {
	margin: 0;
}

nav {
	height: 3rem;
	position: relative;
	width: 100%;
}

nav ul {
	height: 3rem;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 0;
	list-style: none;
}

nav ul li {
	font-size: 20px;
	padding: 0;
	display: inline-block;
}

nav ul li:hover {
	color: white;
	background-color: #553285;
}

nav ul li p {
	height: 1.5rem;
	line-height: 1.5rem;
	margin: 0;
	padding: 0.75rem 1.5rem;
}

/* Column Classes
------------------------------------------------------------ */
/*Grid*/

[class*="col-"] { float: left; }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row {
  width: 100%;
  display: inline-block;
}
.contenido { padding: 5% 0; }



.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
    float: left;
    margin: 0 0 20px 3%;
}

.one-half,
.three-sixths,
.two-fourths {
    width: 48%;
}

.one-third,
.two-sixths {
    width: 31%;
}

.four-sixths,
.two-thirds {
    width: 65%;
}

.one-fourth {
    width: 22.5%;
}

.three-fourths {
    width: 73.5%;
}

.one-fifth {
    width: 17.4%;
}

.two-fifths {
    width: 37.8%;
}

.three-fifths {
    width: 58.2%;
}

.four-fifths {
    width: 78.6%;
}

.one-sixth {
    width: 14%;
}

.five-sixths {
    width: 82%;
}

.first {
    clear: both;
    margin-left: 0;
}
